@model Group1RazorPages.ViewModels.FilterViewModel

<div class="form-group d-flex align-items-center">
    <label for="CatId">Category: </label>
    <select name="CatId" class="form-control" asp-for="@Model.SelectedCategory" onchange="this.form.submit();">
        <option value="">Select a Category</option>
        @foreach (var option in @Model.Categories)
        {
            <option value="@option.Id">@option.CategoryName</option>
        }
    </select>
</div>