@using Group1RazorPages.ViewModels
@using Microsoft.AspNetCore.Mvc.Rendering
@model Group1RazorPages.Pages.Account.IndexModel

@{
    var selectedRole = (int?)ViewData["SelectedRole"];
}

<div class="form-group d-flex align-items-center">
    <label for="AccountRole" class="form-label">Role: </label>
    <select asp-items="@(new SelectList((List<RoleOption>)ViewData["RolesList"], "Value", "Text", selectedRole))"
            asp-for="@Model.Account.AccountRole" class="form-control">
    </select>
</div>
