@model Group1RazorPages.ViewModels.FilterViewModel

<div class="input-group w-25">
    <input type="text" name="Search" value="@Model.SearchQuery" placeholder="@Model.SearchPlaceholder" class="form-control" />
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </div>
</div>